{% extends 'index.html' %}
{% load i18n %}
{% load upload_file %}
{% load static %}

{% block content %}

    <h3>{{ object }}</h3>

    <div class="row">
        <div class="col-md-6">
            <b>{% trans "Alcohol" %}</b>: {{ object.abv }}<br>
            <b>{% trans "Color" %}</b>: {{ object.get_color_display }}<br>
            <b>{% trans "Filtered" %}</b>: {{ object.is_filtered|yesno }}<br><br>

            <a href="{% url 'update-beer' object.pk%}">{% trans "Edit" %}</a>
        </div>
        <div class="col-md-6">
            {% if object.image %}
                <img src="{{ MEDIA_URL }}{{ object.image.url }}" alt="Logo" class="img-responsive">
            {% endif %}
        </div>
        <div class="col-md-6">
            <h3>{% trans "Uploader" %}</h3>
            <div>
                {% upload_file obj=object %}
            </div>
        </div>
    </div>

{% endblock %}